.project
.classpath
.settings/
target/
tomcat.*/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
qcb-*/config/
qcb-*/.externalToolBuilders/
qcb-*/bin/
qcb-*/.project
qcb-*/.classpath
qcb-*/disconf
bin/

