<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd" >
        
     <task:annotation-driven executor="executor"	 />
     <task:executor id="executor" pool-size="20" queue-capacity="10000"/>
     
     
	<task:scheduler id="trust-task" pool-size="20"/>
	<task:scheduled-tasks scheduler="trust-task">
	
		<task:scheduled ref="executorTimer" method="initStockDate" cron="0 0 01 * * ?"/> <!--增加交易日期信息-->
	
		<task:scheduled ref="executorTimer" method="initStockData" cron="0 31 14 * * ?"/> <!-- 股票信息下载统计，截至收盘前突袭，常规01战法 -->
		<task:scheduled ref="executorTimer" method="initStockDayMa" cron="0 35 14 * * ?"/> <!-- 计算股票每天的日均线 -->
		<task:scheduled ref="executorTimer" method="initStockListenerChange" cron="0 40 14 * * ?"/> <!-- 异动股票预判，-->
		<task:scheduled ref="executorTimer" method="initStockChange" cron="0 45 14 * * ?"/> <!--异动股票信息加入监控对象 -->
		
		<task:scheduled ref="executorTimer" method="initStockData" cron="0 40 15 * * ?"/><!-- 股票信息下载统计，当日数据修正-->
		<task:scheduled ref="executorTimer" method="initStockDayMa" cron="0 45 15 * * ?"/><!-- 计算股票每天的日均线-->
		<task:scheduled ref="executorTimer" method="initStockListenerChange" cron="0 0 16 * * ?"/> <!--异动股票判断修正-->
 		<task:scheduled ref="executorTimer" method="initStockChange" cron="0 15 16 * * ?"/> <!--异动股票信息加入监控对象 -->
 		
	</task:scheduled-tasks>
</beans>