<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd" >
        
     <task:annotation-driven executor="executor"	 />
     <task:executor id="executor" pool-size="20" queue-capacity="10000"/>
     
     
	<task:scheduler id="trust-task" pool-size="20"/>
	<task:scheduled-tasks scheduler="trust-task">
		<task:scheduled ref="executorTimer" method="initStockData" cron="0 30 14 * * ?"/> <!-- 股票信息下载统计，截至收盘前突袭，常规01战法 -->
		<task:scheduled ref="executorTimer" method="initStockData" cron="0 30 16 * * ?"/> <!-- 股票信息下载统计，当日数据修正 -->
	</task:scheduled-tasks>
</beans>