<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd" >
        
     <task:annotation-driven executor="executor"	 />
     <task:executor id="executor" pool-size="20" queue-capacity="10000"/>
     
     
	<task:scheduler id="trust-task" pool-size="20"/>
	<task:scheduled-tasks scheduler="trust-task">
		<task:scheduled ref="executorTimer" method="insertTradeDay" cron="0 12 15 * * ?"/><!-- 需要管住的股票-->
		<task:scheduled ref="executorTimer" method="insertStockDayMa" cron="0 15 15 * * ?"/><!-- 计算股票每天的日均线-->
		
<!-- 		<task:scheduled ref="executorTimer" method="insertStockExpand" cron="0 30 15 * * ?"/>计算股票每天的基本扩展信息 -->
<!-- 		<task:scheduled ref="executorTimer" method="insertStockResult" cron="0 50 15 * * ?"/>需要管住的股票 -->
	</task:scheduled-tasks>
</beans>