<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd" >
        
     <task:annotation-driven executor="executor"	 />
     <task:executor id="executor" pool-size="20" queue-capacity="10000"/>
     
     
	<task:scheduler id="trust-task" pool-size="20"/>
	<task:scheduled-tasks scheduler="trust-task">
		<task:scheduled ref="executorTimer" method="initStockData" cron="0 0 17 * * ?"/><!-- 股票信息下载，当日数据修正-->
		<task:scheduled ref="executorTimer" method="initStockDayMa" cron="0 15 17 * * ?"/><!-- 计算股票每天的日均线-->
	</task:scheduled-tasks>
</beans>